target
.idea
.project
*.iml
.classpath
.settings
node_modules
private
build
lib
.DS_Store
npm-debug.log*
src/main/webapp/front/dist
src/main/webapp/front/dist/*hot-update*
src/main/webapp/front/dist/app.js*
src/main/webapp/front/dist/_
logs/cloudviewui/*
logs/cloudview-ui/*
src/main/webapp/index.html
logging_path_IS_UNDEFINED
logging_path_IS_UNDEFINED/*
logs
logs/*
src/main/webapp/__version.html
src/main/webapp/sw.js
coverage/*
src/main/config/ansible/roles/qhelm
src/main/config/ansible/roles/qvaultsi
src/main/cypress/reports/*
src/main/cypress/downloads/*
src/main/cypress/screenshots/*
src/main/cypress/videos/*
src/main/cypress/cypress-complete-report.html
cypress-complete-report.json
/src/main/webapp/front/
/.gradle/
/config.yaml
dist/
server-dist/
.nyc_output/*
dist_files